{% extends 'template.html' %}

{% block content %}
<p><a href="index.php">Volver</a>

{% if viajes|length == 0 %}
<p>no existen viajes</p>
{% else %}	
	<p>Listado de los Viajes</p>
	
	{% for v in viajes %}
		<ul class="feed-list">
        
<!--{% block header %}
<h1> Ahora como estoy en categoria cambio el header </h1>         
{% endblock %}

<p>Viajes dentro de la categoria {{cat}}</p> 

		<!--<li>Id del viaje: {{v.id}}</li>
		<li>tipo viaje: {{v.tipo}}</li>
		<li>Despedida de Solteros: {{v.dds}}</li>
		<li>Tutismo Activo: {{v.vta}}</li>
		<li>Viajes de Novios: {{v.vdn}}</li>
		<li>orden: {{v.orden}}</li>
		<li>Localización: {{v.localizacion}}</li>-->
		<li>Descripcion:{% autoescape false %} {{v.descripcion}}{% endautoescape %}</li>
		<li><!--Imagenes:-->
	        {% for img in v.imagenes%}
	        	<img src="{{img.url}}" alt="{{img.alt}}" title="{{img.title}}">
	        {% endfor %}
		</li>
		<li><h5>Actividades</h5>
			<ul class="feed-list-activ">
			{% for act in v.actividades%}
	        	<li>{{act.nombre}}<br/>
	        	{% autoescape false %}{{act.descripcion}}{% endautoescape %}
	        	<br/>
	        		{% for img in act.imagenes%}
	        			<img src="{{img.url}}" alt="{{img.alt}}" title="{{img.title}}">
	        		{% endfor %}	
	        	</li>	
	        {% endfor %}
	    	</ul>
		</li>
		<li><div class="precio">{{v.precio}}</div></li>	
		<li>
			<p>Notas</p>
			{% for nota in v.notas %}
				{{nota}}
			{% endfor %}
		</li>

		<li>
			<p>Documentos adjuntos</p>
			{% for adjunto in v.adjuntos %}
				<a href="{{adjunto}}" target="_blank">{{adjunto}}</a>
			{% endfor %}
		</li>
		<li>
			<a href="?vid={{v.id}}">Ver detalles</a>
		</li><!-- <a href="?id={{v.id}}&amp;category={{cat}}">Ver detalles</a>-->
		</ul>   
		<hr>     
	{% endfor %}
		

{% endif %}
{% endblock %} 