{% extends 'template.html' %}

{% block content %}

{% if viajes|length == 0 %}
	<p>no existen viajes</p>
{% else %}	
	{% for i in range(0, 2) %}
	    <div class="widget">
	    	<!-- WIDGET -->
            <h5><a href="?vid={{viajes[i].id}}&category={{cat}}">{{viajes[i].titulo}}</a></h5>
	        <div class="vo-oferta-foto"><a href="?vid={{viajes[i].id}}&category={{cat}}"><img src="{{viajes[i].imagenes[0].url}}" alt="{{viajes[i].imagenes[0].alt}}" ></a></div>
	        

			<div class="precio"><span>{{viajes[i].precio}}</span></div>
	        <!--<div>		        
		        <p>{% autoescape false %} {{viajes[i].cuantasPalabras(viajes[i].descripcion,25)}}{% endautoescape %}</p>
		        <a href="?vid={{viajes[i].id}}" class="leermas">Leer más »</a>
	    	</div> -->
	    </div>
	{% endfor %}
{% endif %}
{% endblock %} 