{% extends 'template.html' %}

{% block content %}
<!--<p><a href="index.php">Volver</a>
-->
{% if viajes|length == 0 %}
<p>no existen viajes</p>
{% else %}	
<!--	<p>Listado de los Viajes</p>
-->	<ul class="feed-list">
	{% for v in viajes %}
		
        <li class="feed-list-item"><!--Imagenes:-->
            <h5><a href="?vid={{v.id}}">{{v.id}}</a></h5>
            {% for img in v.imagenes%}
                <div class="vo-ofertas-foto"><a href="?vid={{v.id}}"><img src="{{img.url}}" alt="{{img.alt}}" title="{{img.title}}"></a></div>
            {% endfor %}
       
            <div class="precio">{{v.precio}}</div>
            
            <a href="?vid={{v.id}}" class="detalles">Ver detalles</a>
            <!-- <a href="?id={{v.id}}&amp;category={{cat}}">Ver detalles</a>-->
       </li>  
	{% endfor %}
    </ul>   

{% endif %}
{% endblock %} 