<div class="">                    
	<h3>La Mega-Oferta</h3>
	<div class="panel callout radius mega-oferta">
			<h5><a href="http://viajes-online.net/la-mega-oferta" title="{{v.titulo}}">{{oferta.titulo}}</a></h5>
			<div class="vo-ofertas-foto"> 
				<a href="http://viajes-online.net/la-mega-oferta" title="{{v.titulo}}">
			<img src="{{oferta.imagenes[0].url}}" alt="{{oferta.titulo}}">
			</a> 
		</div>
		<div class="precio">
			<span>{{oferta.precio}}</span> 
		</div>
		<h5>
			<a href="http://viajes-online.net/la-mega-oferta" title="¡Que no se te escape! {{oferta.titulo}}">
				¡Apúntate ya!
			</a>
		</h5>
	</div>
</div>