{% extends 'template.html' %}

{% block content %}
<!-- SLIDE: TOP 3 -->


{% if viajes|length == 0 %}
<p>no existen viajes</p>
{% else %}	
<!--	<p>Listado de los Viajes</p>

<!-- SLIDE: TOP 3 -->
<div class="eight columns">                        
<div id="featured" >


{% for i in range(0, 2) %}
    <!-- {{i}} --> 
    
    <div class="slidehome twelve columns">
    
        <div class="orbit-foto">
        	<a href="nuestras-ofertas/?vid={{viajes[i].id}}" title="{{viajes[i].titulo}}" rel="follow"><img src="{{viajes[i].imagenes[0].url}}" alt="{{viajes[i].imagenes[0].alt}}" ></a>
            <div class="precio"><span>{{viajes[i].precio}}</span></div>
        </div>
        <div class="orbit-texto" >
        
            <h3><a href="nuestras-ofertas/?vid={{viajes[i].id}}" title="{{viajes[i].titulo}}" rel="follow">{{viajes[i].titulo}}</a></h3>
            
            <p>{% autoescape false %} {{viajes[i].cuantasPalabras(viajes[i].descripcion,20)}}{% endautoescape %} ...</p>
            
            <a href="nuestras-ofertas/?vid={{viajes[i].id}}" class="leermas" title="Ver la oferta de viaje completa" rel="follow">Reserva YA »</a>
            
        </div>
        
    	</div>
    
{% endfor %}
</div>
</div>
<script type="text/javascript">
   $(window).load(function() {
       $('#featured').orbit({ 
        fluid: '16x6'
       });
   });
</script>


<!-- OFERTAS 3,4,5: EN TRES COLUMNAS  -->
                                                                        
<ul class="feed-list">
{% for i in range(3, 5) %}
    <!-- {{i}} -->               
    <li id="post-{{viajes[i].id}}" class="feed-list-item" >
        
        <h5><a href="nuestras-ofertas/?vid={{viajes[i].id}}" rel="bookmark" title="{{viajes[i].titulo}}">{{viajes[i].titulo}}</a></h5>
        <div class="vo-oferta-foto">
            <a href="nuestras-ofertas/?vid={{viajes[i].id}}" title="{{viajes[i].titulo}}" ><img src="{{viajes[i].imagenes[0].url}}" class="" alt="{{viajes[i].imagenes[0].alt}}" /></a>
        </div>                  

        <div class="precio">
            {{viajes[i].precio}}
        </div>
    </li> <!-- end article -->        
{% endfor %}
	
</ul>

{% endif %}
{% endblock %} 